*.egg
*.egg-info/
*.o
*.py[cdo]
*.so
.pytest_cache/
.tox/
.venv/
/target/
/test-crates/*/target
__pycache__/
dist/
node_modules
tags
test-crates/targets/
test-crates/venvs/
test-crates/wheels/
venv*/
