[package]
authors = ["konstin <konstin@mailbox.org>", "messense <messense@icloud.com>"]
name = "maturin"
version = "0.12.9"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
homepage = "https://github.com/pyo3/maturin"
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.51"
base64 = "0.13.0"
bytesize = "1.0.1"
glob = "0.3.0"
cargo_metadata = "0.14.0"
cbindgen = { version = "0.20.0", default-features = false }
flate2 = "1.0.18"
goblin = "0.4.3"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "1.1.1", optional = true }
platform-info = "0.2.0"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.4.5"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.75"
sha2 = "0.10.0"
shlex = "1.0.0"
tar = "0.4.33"
tempfile = "3.2.0"
toml = "0.5.8"
zip = "0.5.5"
thiserror = "1.0.24"
dirs = "4.0.0"
fs-err = "2.5.0"
fat-macho = { version = "0.4.4", default-features = false }
once_cell = "1.7.2"
target-lexicon = "0.12.0"
pyproject-toml = "0.3.0"
python-pkginfo = "0.5.1"
textwrap = "0.14.2"
ignore = "0.4.18"
dialoguer = "0.9.0"
console = "0.15.0"
minijinja = "0.13.0"
lddtree = "0.2.6"
cc = "1.0.72"
clap = { version = "3.0.13", features = ["derive", "env", "wrap_help"] }
clap_complete = "3.0.6"
clap_complete_fig = "3.0.2"
semver = "1.0.5"
# upload
configparser = { version = "3.0.0", optional = true }
multipart = { version = "0.18.0", features = ["client"], default-features = false, optional = true }
rpassword = { version = "5.0.1", optional = true }
ureq = { version = "2.3.1", features = ["gzip"], default-features = false, optional = true }
native-tls-crate = { package = "native-tls", version = "0.2.8", optional = true }

[dev-dependencies]
indoc = "1.0.3"

[features]
default = ["log", "upload", "rustls", "human-panic"]
upload = ["ureq", "multipart", "rpassword", "configparser"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
rustls = ["ureq/tls"]
native-tls = ["ureq/native-tls", "native-tls-crate"]
# Internal feature to speed up the tests significantly
faster-tests = []

# Without this, compressing the .gz archive becomes notably slow for debug builds
[profile.dev.package.miniz_oxide]
opt-level = 3
