[package]
authors = ["konstin <konstin@mailbox.org>", "messense <messense@icloud.com>"]
name = "maturin"
version = "1.0.0-beta.1"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*", "guide/*", ".github/*"]
homepage = "https://github.com/pyo3/maturin"
readme = "README.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2021"
rust-version = "1.63"

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.63"
base64 = "0.13.0"
glob = "0.3.0"
cargo-config2 = "0.1.4"
cargo_metadata = "0.15.3"
cargo-options = "0.6.0"
cbindgen = { version = "0.24.2", default-features = false }
flate2 = "1.0.18"
goblin = "0.6.0"
platform-info = "1.0.0"
regex = "1.7.0"
serde = { version = "1.0.141", features = ["derive"] }
serde_json = "1.0.80"
sha2 = "0.10.3"
tar = "0.4.38"
tempfile = "3.2.0"
toml = "0.7.0"
toml_edit = "0.19.1"
zip = { version = "0.6.1", default-features = false, features = ["bzip2", "deflate", "time"] }
thiserror = "1.0.37"
dirs = "4.0.0"
fs-err = "2.5.0"
fat-macho = { version = "0.4.6", default-features = false }
once_cell = "1.7.2"
rustc_version = "0.4.0"
semver = "1.0.13"
target-lexicon = "0.12.0"
pyproject-toml = "0.3.3"
python-pkginfo = "0.5.5"
textwrap = "0.16.0"
ignore = "0.4.20"
itertools = "0.10.5"
lddtree = "0.3.2"
cc = "1.0.72"
dunce = "1.0.2"
normpath = "1.0.0"
pep440 = "0.2.0"
time = "0.3.17"

# cli
clap = { version = "4.0.0", features = ["derive", "env", "wrap_help"] }
clap_complete_command = "0.4.0"

# cross compile
cargo-zigbuild = { version = "0.16.0", default-features = false, optional = true }
cargo-xwin = { version = "0.14.0", default-features = false, optional = true }

# log
tracing = "0.1.36"
tracing-subscriber = { version = "0.3.15", features = ["env-filter"], optional = true }

# project scaffolding, maturin new/init/generate-ci
dialoguer = { version = "0.10.2", default-features = false, optional = true }
console = { version = "0.15.4", optional = true }
minijinja = { version = "0.30.2", optional = true }

# upload
bytesize = { version = "1.0.1", optional = true }
configparser = { version = "3.0.0", optional = true }
multipart = { version = "0.18.0", features = ["client"], default-features = false, optional = true }
ureq = { version = "2.6.1", features = ["gzip", "socks-proxy"], default-features = false, optional = true }
native-tls-crate = { package = "native-tls", version = "0.2.8", optional = true }
keyring = { version = "1.1.1", optional = true }

[dev-dependencies]
indoc = "2.0.0"
pretty_assertions = "1.3.0"
rustversion = "1.0.9"
time = { version = "0.3.17", features = ["macros"] }
trycmd = "0.14.11"
which = "4.3.0"

[features]
default = ["full", "rustls"]

full = ["cross-compile", "log", "scaffolding", "upload"]

log = ["tracing-subscriber"]

upload = ["ureq", "multipart", "configparser", "bytesize", "dialoguer/password"]
# keyring doesn't support *BSD so it's not enabled in `full` by default
password-storage = ["upload", "keyring"]

rustls = ["ureq/tls", "cargo-xwin/rustls-tls"]
native-tls = ["ureq/native-tls", "native-tls-crate", "cargo-xwin/native-tls"]

# cross compile using zig or xwin
cross-compile = ["zig", "xwin"]
zig = ["cargo-zigbuild"]
xwin = ["cargo-xwin"]

# project scaffolding
scaffolding = ["dialoguer", "console", "minijinja"]

# Internal feature to speed up the tests significantly
faster-tests = []

# Deprecated features, keep it now for compatibility
human-panic = []

# Without this, compressing the .gz archive becomes notably slow for debug builds
[profile.dev.package.miniz_oxide]
opt-level = 3
# Speedup cargo-xwin for debug builds
[profile.dev.package.cab]
opt-level = 3
[profile.dev.package.msi]
opt-level = 3
