[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "maturin"
version = "0.8.0"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[package.metadata.maturin]
requires-python = ">=3.5"
classifier = [
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy"
]
requires-dist = ["toml~=0.10.0"]

[badges]
travis-ci = { repository = "PyO3/maturin" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
base64 = "0.12.0"
bytesize = "1.0.0"
cargo_metadata = "0.9.1"
cbindgen = { version = "0.13.1", default-features = false }
digest = { version = "0.8.1", features = ["std"] }
failure = "0.1.6"
flate2 = "1.0.12"
goblin = "0.2.0"
human-panic = { version = "1.0.1", optional = true }
keyring = { version = "0.8.0", optional = true }
platform-info = "0.0.1"
platforms = "0.2.1"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.2.1"
reqwest = { version = "0.10.3", optional = true, default-features = false, features = ["blocking"]}
rpassword = { version = "4.0.1", optional = true }
serde = { version = "1.0.103", features = ["derive"] }
serde_json = "1.0.42"
sha2 = "0.8.0"
shlex = "0.1.1"
structopt = "0.3.5"
tar = "0.4.26"
tempfile = "3.1.0"
toml = "0.5.5"
walkdir = "2.2.8"
zip = "0.5.2"

[dev-dependencies]
indoc = "0.3.3"

[features]
default = ["auditwheel", "log", "upload", "rustls"]
auditwheel = []
upload = ["reqwest", "rpassword"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
# We use rustls for manylinux compliance and because unlike both dynamic and
# static openssl variants it can be built and used inside a cent os 5 container
rustls = ["reqwest/rustls-tls"]
# Internal feature to run test with stable rust
skip-nightly-tests = []
# Internal feature to speed up the tests significantly
faster-tests = []
