[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "pyo3-pack"
version = "0.4.0"
description = "Build and publish crates with pyo3 bindings as python packages"
exclude = ["get-fourtytwo/**/*", "integration-test/**/*", "sysconfig/*"]
readme = "Readme.md"
repository = "https://github.com/pyo3/pyo3-pack"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]

[badges]
travis-ci = { repository = "PyO3/pyo3-pack" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "pyo3-pack"

[lib]
name = "pyo3_pack"

[dependencies]
base64 = "0.10.0"
cargo_metadata = { git = "https://github.com/roblabla/cargo_metadata" }
digest = { version = "0.8.0", features = ["std"] }
failure = "0.1.3"
keyring = { version = "0.6.1", optional = true }
reqwest = { version = "0.9.5", optional = true }
rpassword = "2.1.0"
serde_derive = "1.0.80"
serde_json = "1.0.33"
sha2 = "0.8.0"
structopt = "0.2.13"
target_info = "0.1.0"
toml = "0.4.9"
zip = "0.5.0"
serde = "1.0.80"
tar = { version = "0.4.20", optional = true }
libflate = { version = "0.1.18", optional = true }
human-panic = { version = "1.0.1", optional = true }
regex = "1.1.0"
indicatif = "0.10.2"
atty = "0.2.11"
tempfile = "3.0.5"
goblin = { version = "0.0.19", optional = true }
openssl = { version = "0.10.15", features = ["vendored"], optional = true }
pretty_env_logger = { version = "0.2.5", optional = true }
platforms = "0.1.4"

[dev-dependencies]
indoc = "0.2.8"

[features]
default = ["auditwheel", "upload", "log"]
auditwheel = ["goblin"]
upload = ["reqwest"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]

# This will make rewquest use a statically linked version of openssl
musl = ["openssl"]

# sdists can be created, but they are currently useless (#2)
sdist = ["tar", "libflate"]

[workspace]
members = [
    "get-fourtytwo",
]

exclude = [
    # This is necessary due to https://github.com/eqrion/cbindgen/issues/203
    "points",
    # If we have this crate in the workspace, it will have pyo3 in it's deps and the bridge detection won't work
    "hello-world"
]
