[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "pyo3-pack"
version = "0.4.3"
description = "Build and publish crates with pyo3 bindings as python packages"
exclude = ["get-fourtytwo/**/*", "integration-test/**/*", "sysconfig/*"]
readme = "Readme.md"
repository = "https://github.com/pyo3/pyo3-pack"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[badges]
travis-ci = { repository = "PyO3/pyo3-pack" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "pyo3-pack"

[lib]
name = "pyo3_pack"

[dependencies]
base64 = "0.10.0"
cargo_metadata = { git = "https://github.com/roblabla/cargo_metadata" }
digest = { version = "0.8.0", features = ["std"] }
failure = "0.1.5"
keyring = { version = "0.6.1", optional = true }
reqwest = { version = "0.9.5", optional = true }
rpassword = { version = "2.1.0", optional = true }
serde_json = "1.0.34"
sha2 = "0.8.0"
structopt = "0.2.14"
target_info = "0.1.0"
toml = "0.4.10"
zip = "0.5.0"
serde = { version = "1.0.84", features = ["derive"] }
human-panic = { version = "1.0.1", optional = true }
regex = "1.1.0"
indicatif = "0.11.0"
atty = "0.2.11"
tempfile = "3.0.5"
goblin = { version = "0.0.19", optional = true }
openssl = { version = "0.10.16", features = ["vendored"], optional = true }
pretty_env_logger = { version = "0.3.0", optional = true }
platforms = "0.1.4"
shlex = "0.1.1"

[dev-dependencies]
indoc = "0.3.1"

[features]
default = ["auditwheel", "upload", "log"]
auditwheel = ["goblin"]
upload = ["reqwest", "rpassword"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]

# This will make rewquest use a statically linked version of openssl
musl = ["openssl"]
