[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "maturin"
version = "0.8.3"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[package.metadata.maturin]
requires-python = ">=3.5"
classifier = [
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy"
]
requires-dist = ["toml~=0.10.0"]

[badges]
travis-ci = { repository = "PyO3/maturin" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.31"
base64 = "0.12.1"
bytesize = "1.0.1"
glob = "0.3.0"
cargo_metadata = "0.11.1"
cbindgen = { version = "0.14.2", default-features = false }
flate2 = "1.0.14"
goblin = "0.2.3"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "0.9.0", optional = true }
platform-info = "0.0.1"
platforms = "0.2.1"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.3.9"
reqwest = { version = "0.10.4", optional = true, default-features = false, features = ["blocking"] }
rpassword = { version = "4.0.5", optional = true }
serde = { version = "1.0.110", features = ["derive"] }
serde_json = "1.0.53"
sha2 = "0.9.0"
shlex = "0.1.1"
structopt = "0.3.14"
tar = "0.4.26"
tempfile = "3.1.0"
toml = "0.5.6"
walkdir = "2.3.1"
zip = "0.5.5"
thiserror = "1.0.19"

[dev-dependencies]
indoc = "1.0.2"

[features]
default = ["auditwheel", "log", "upload", "rustls", "human-panic"]
auditwheel = []
upload = ["reqwest", "rpassword"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
# We use rustls for manylinux compliance and because unlike both dynamic and
# static openssl variants it can be built and used inside a cent os 5 container
rustls = ["reqwest/rustls-tls"]
# Internal feature to speed up the tests significantly
faster-tests = []
