[package]
authors = ["konstin <konstin@mailbox.org>", "messense <messense@icloud.com>"]
name = "maturin"
version = "0.13.6"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*", "guide/*", ".github/*"]
homepage = "https://github.com/pyo3/maturin"
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"
rust-version = "1.59"

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.63"
base64 = "0.13.0"
glob = "0.3.0"
cargo_metadata = "0.15.0"
cargo-options = "0.3.1"
cargo-zigbuild = "0.12.3"
cargo-xwin = { version = "=0.10.2", default-features = false }
cbindgen = { version = "0.24.2", default-features = false }
flate2 = "1.0.18"
goblin = "0.5.4"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "1.1.1", optional = true }
platform-info = "1.0.0"
regex = "1.4.5"
serde = { version = "1.0.141", features = ["derive"] }
serde_json = "1.0.80"
sha2 = "0.10.3"
tar = "0.4.33"
tempfile = "3.2.0"
toml_edit = { version = "0.14.3", features = ["easy"] }
zip = { version = "0.6.1", default-features = false, features = ["bzip2", "deflate", "time"] }
thiserror = "1.0.37"
dirs = "4.0.0"
fs-err = "2.5.0"
fat-macho = { version = "0.4.5", default-features = false }
once_cell = "1.7.2"
rustc_version = "0.4.0"
semver = "1.0.13"
target-lexicon = "0.12.0"
pyproject-toml = "0.3.0"
python-pkginfo = "0.5.4"
textwrap = "0.15.1"
ignore = "0.4.18"
dialoguer = { version = "0.10.2", default-features = false }
console = "0.15.2"
minijinja = "0.20.0"
lddtree = "0.3.1"
cc = "1.0.72"
clap = { version = "3.2.19", features = ["derive", "env", "wrap_help"] }
clap_complete = "3.1.3"
clap_complete_fig = "3.1.0"
tracing = "0.1.36"
tracing-subscriber = { version = "0.3.15", features = ["env-filter"], optional = true }
dunce = "1.0.2"
pep440 = "0.2.0"

# upload
bytesize = { version = "1.0.1", optional = true }
configparser = { version = "3.0.0", optional = true }
multipart = { version = "0.18.0", features = ["client"], default-features = false, optional = true }
# rpassword 7.0 requires Rust 1.60.0+
rpassword = { version = "6.0.1", optional = true }
ureq = { version = "2.3.1", features = ["gzip", "socks-proxy"], default-features = false, optional = true }
native-tls-crate = { package = "native-tls", version = "0.2.8", optional = true }

[dev-dependencies]
indoc = "1.0.3"
pretty_assertions = "1.3.0"
rustversion = "1.0.9"

[features]
default = ["log", "upload", "rustls", "human-panic"]
upload = ["ureq", "multipart", "rpassword", "configparser", "bytesize"]
password-storage = ["upload", "keyring"]
log = ["tracing-subscriber"]
rustls = ["ureq/tls", "cargo-xwin/rustls-tls"]
native-tls = ["ureq/native-tls", "native-tls-crate", "cargo-xwin/native-tls"]
# Internal feature to speed up the tests significantly
faster-tests = []

# Without this, compressing the .gz archive becomes notably slow for debug builds
[profile.dev.package.miniz_oxide]
opt-level = 3
# Speedup cargo-xwin for debug builds
[profile.dev.package.cab]
opt-level = 3
[profile.dev.package.msi]
opt-level = 3
