[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "maturin"
version = "0.12.0-beta.3"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
homepage = "https://github.com/pyo3/maturin"
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2021"

[badges]
travis-ci = { repository = "PyO3/maturin" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.45"
base64 = "0.13.0"
bytesize = "1.0.1"
glob = "0.3.0"
cargo_metadata = "0.14.0"
cbindgen = { version = "0.20.0", default-features = false }
flate2 = "1.0.18"
goblin = "0.4.3"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "0.10.1", optional = true }
platform-info = "0.1.0"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.4.5"
reqwest = { version = "0.11.2", optional = true, default-features = false, features = ["blocking", "multipart"] }
rpassword = { version = "5.0.1", optional = true }
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0.69"
sha2 = "0.9.3"
shlex = "1.0.0"
structopt = "0.3.21"
tar = "0.4.33"
tempfile = "3.2.0"
toml = "0.5.8"
walkdir = "2.3.1"
zip = "0.5.5"
thiserror = "1.0.24"
dirs = { version = "4.0.0", optional = true }
configparser = { version = "3.0.0", optional = true }
fs-err = "2.5.0"
fat-macho = { version = "0.4.4", default-features = false }
once_cell = "1.7.2"
target-lexicon = "0.12.0"
pyproject-toml = "0.2.0"
python-pkginfo = "0.5.0"
textwrap = "0.14.2"

[dev-dependencies]
indoc = "1.0.3"

[features]
default = ["log", "upload", "rustls", "human-panic"]
upload = ["reqwest", "rpassword", "configparser", "dirs"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
# We use rustls for manylinux compliance and because unlike both dynamic and
# static openssl variants it can be built and used inside a cent os 5 container
rustls = ["reqwest/rustls-tls"]
# Internal feature to speed up the tests significantly
faster-tests = []

# Without this, compressing the .gz archive becomes notably slow for debug builds
[profile.dev.package.miniz_oxide]
opt-level = 3
