[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "maturin"
version = "0.9.1"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[package.metadata.maturin]
requires-python = ">=3.5"
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
requires-dist = ["toml~=0.10.0"]

[badges]
travis-ci = { repository = "PyO3/maturin" }
appveyor = { repository = "konstin/pyo3" }

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.32"
base64 = "0.13.0"
bytesize = "1.0.1"
glob = "0.3.0"
cargo_metadata = "0.12.1"
cbindgen = { version = "0.16.0", default-features = false }
flate2 = "1.0.18"
goblin = "0.3.0"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "0.10.1", optional = true }
platform-info = "0.0.1"
platforms = "1.1.0"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.4.3"
reqwest = { version = "0.11.0", optional = true, default-features = false, features = ["blocking", "multipart"] }
rpassword = { version = "5.0.0", optional = true }
serde = { version = "1.0.116", features = ["derive"] }
serde_json = "1.0.58"
sha2 = "0.9.1"
shlex = "0.1.1"
structopt = "0.3.18"
tar = "0.4.30"
tempfile = "3.1.0"
toml = "0.5.6"
walkdir = "2.3.1"
zip = "0.5.5"
thiserror = "1.0.20"
dirs = { version = "3.0.1", optional = true }
configparser = { version = "2.0.0", optional = true }
mailparse = "0.13.1"
fs-err = "2.5.0"
fat-macho = "0.4.2"

[dev-dependencies]
indoc = "1.0.2"

[features]
default = ["auditwheel", "log", "upload", "rustls", "human-panic"]
auditwheel = []
upload = ["reqwest", "rpassword", "configparser", "dirs"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
# We use rustls for manylinux compliance and because unlike both dynamic and
# static openssl variants it can be built and used inside a cent os 5 container
rustls = ["reqwest/rustls-tls"]
# Internal feature to speed up the tests significantly
faster-tests = []
