[package]
authors = ["konstin <konstin@mailbox.org>", "messense <messense@icloud.com>"]
name = "maturin"
version = "0.13.0-beta.6"
description = "Build and publish crates with pyo3, rust-cpython and cffi bindings as well as rust binaries as python packages"
exclude = ["test-crates/**/*", "sysconfig/*", "test-data/*", "ci/*", "tests/*"]
homepage = "https://github.com/pyo3/maturin"
readme = "Readme.md"
repository = "https://github.com/pyo3/maturin"
license = "MIT OR Apache-2.0"
keywords = ["python", "cffi", "packaging", "pypi", "pyo3"]
categories = ["api-bindings", "development-tools::ffi", "command-line-utilities"]
edition = "2018"

[[bin]]
name = "maturin"

[lib]
name = "maturin"

[dependencies]
anyhow = "1.0.51"
base64 = "0.13.0"
bytesize = "1.0.1"
glob = "0.3.0"
cargo_metadata = "0.14.0"
cargo-zigbuild = "0.9.0"
cargo-xwin = { version = "0.8.6", default-features = false }
cbindgen = { version = "0.24.2", default-features = false }
flate2 = "1.0.18"
goblin = "0.5.1"
human-panic = { version = "1.0.3", optional = true }
keyring = { version = "1.1.1", optional = true }
platform-info = "0.2.0"
pretty_env_logger = { version = "0.4.0", optional = true }
regex = "1.4.5"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.80"
sha2 = "0.10.0"
shlex = "1.0.0"
tar = "0.4.33"
tempfile = "3.2.0"
toml_edit = { version = "0.14.3", features = ["easy"] }
zip = { version = "0.6.1", default-features = false, features = ["bzip2", "deflate", "time"] }
thiserror = "1.0.31"
dirs = "4.0.0"
fs-err = "2.5.0"
fat-macho = { version = "0.4.5", default-features = false }
once_cell = "1.7.2"
rustc_version = "0.4.0"
target-lexicon = "0.12.0"
pyproject-toml = "0.3.0"
python-pkginfo = "0.5.4"
textwrap = "0.15.0"
ignore = "0.4.18"
dialoguer = { version = "0.10.0", default-features = false }
console = "0.15.0"
minijinja = "0.15.0"
lddtree = "0.2.9"
cc = "1.0.72"
clap = { version = "3.1.14", features = ["derive", "env", "wrap_help"] }
clap_complete = "3.1.3"
clap_complete_fig = "3.1.0"
# upload
configparser = { version = "3.0.0", optional = true }
multipart = { version = "0.18.0", features = ["client"], default-features = false, optional = true }
rpassword = { version = "6.0.1", optional = true }
ureq = { version = "2.3.1", features = ["gzip", "socks-proxy"], default-features = false, optional = true }
native-tls-crate = { package = "native-tls", version = "0.2.8", optional = true }
tracing = "0.1.34"
dunce = "1.0.2"

[dev-dependencies]
indoc = "1.0.3"

[features]
default = ["log", "upload", "rustls", "human-panic"]
upload = ["ureq", "multipart", "rpassword", "configparser"]
password-storage = ["upload", "keyring"]
log = ["pretty_env_logger"]
rustls = ["ureq/tls", "cargo-xwin/rustls-tls"]
native-tls = ["ureq/native-tls", "native-tls-crate", "cargo-xwin/native-tls"]
# Internal feature to speed up the tests significantly
faster-tests = []

# Without this, compressing the .gz archive becomes notably slow for debug builds
[profile.dev.package.miniz_oxide]
opt-level = 3
# Speedup cargo-xwin for debug builds
[profile.dev.package.cab]
opt-level = 3
[profile.dev.package.msi]
opt-level = 3
