include Cargo.toml Cargo.lock
include Readme.md
include license-apache license-mit
recursive-include src *.rs *.py
recursive-include src/auditwheel *.json
recursive-include src/python_interpreter *.py *.json
recursive-include src/templates *.j2
