[build-system]
requires = ["maturin>={{ version_major }}.{{ version_minor }},<{{ version_major }}.{{ version_minor + 1 }}"]
build-backend = "maturin"

[project]
name = "{{ name }}"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
{% if bindings == "cffi" -%}
dependencies = ["cffi"]
{%- endif -%}
{% if bindings == "cffi" or bindings == "bin" -%}
[tool.maturin]
bindings = "{{ bindings }}"
{%- endif -%}
