[package]
authors = ["konstin <konstin@mailbox.org>"]
name = "pyo3-mixed-workspace-py"
version = "2.1.3"
description = "Implements a dummy function combining rust and python"
edition = "2021"

[dependencies]
pyo3-mixed-workspace = { path = "../../pyo3-mixed-workspace" }
pyo3 = { version = "0.26.0", features = [
    "extension-module",
    "generate-import-lib",
] }

[lib]
name = "pyo3_mixed_workspace_py"
crate-type = ["cdylib"]
