[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "pyo3-mixed-py-subdir"
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Rust"
]
requires-python = ">=3.6"
dynamic = ["version", "description"]  # Allow description from Cargo.toml to be used

[project.scripts]
get_42 = "pyo3_mixed_py_subdir:get_42"

[tool.maturin]
module-name = "pyo3_mixed_py_subdir._pyo3_mixed"
python-source = "python"
include = ["assets/extra_data.txt"]
