[package]
name = "workspace-inheritance"
version.workspace = true
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "workspace_inheritance"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17.3", features = ["extension-module"] }
generic_lib.workspace = true

[dependencies.libc]
workspace = true
optional = true
features = ["extra_traits"]

[build-dependencies]
cfg-if.workspace = true

[dev-dependencies]
cfg-if.workspace = true

[dependencies.cfg-if]
workspace = true
optional = true

[dependencies.rand]
workspace = true
features = ["small_rng"]
