name: Run tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install cffi and virtualenv
        run: pip install cffi virtualenv
      - uses: actions-rs/toolchain@v1
        id: rustup
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Install aarch64-apple-darwin Rust target
        if: matrix.os == 'macos-latest'
        run: rustup target add aarch64-apple-darwin
      # We use this target in the musl unit test
      - name: Install x86_64-unknown-linux-musl Rust target
        if: matrix.os == 'ubuntu-latest'
        run: rustup target add x86_64-unknown-linux-musl
      - name: Install musl tools
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y musl-tools
      - name: Setup Xcode env
        if: matrix.os == 'macos-latest'
        shell: bash
        run: |
          echo "PYO3_CROSS_LIB_DIR=/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/lib" >> "${GITHUB_ENV}"
          sudo xcode-select -s /Applications/Xcode_12.3.app
          bindir="$(xcode-select --print-path)/Toolchains/XcodeDefault.xctoolchain/usr/bin"
          echo "CC=${bindir}/clang" >> "${GITHUB_ENV}"
          echo "CXX=${bindir}/clang++" >> "${GITHUB_ENV}"
          echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> "${GITHUB_ENV}"

      # Caching
      # Install gnu-tar because BSD tar is buggy
      # https://github.com/actions/cache/issues/403
      - name: Install GNU tar (Macos)
        if: matrix.os == 'macos-latest'
        run: |
          brew install gnu-tar
          echo "/usr/local/opt/gnu-tar/libexec/gnubin" >> $GITHUB_PATH
      - name: Cache cargo build
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ steps.rustup.outputs.rustc_hash }}-maturin-${{ hashFiles('Cargo.lock') }}
      - name: Cache test crates cargo build
        uses: actions/cache@v2
        with:
          path: test-crates/*/target
          key: ${{ runner.os }}-${{ steps.rustup.outputs.rustc_hash }}-test-crates-${{ hashFiles('test-crates/*/Cargo.lock') }}

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: cargo test with musl
        if: matrix.os == 'ubuntu-latest'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target x86_64-unknown-linux-musl

  test-auditwheel:
    name: Test Auditwheel
    runs-on: ubuntu-latest
    strategy:
      matrix:
        manylinux: [ '2010', '2014' ]
    env:
      # Install rust in the workspace so it gets mounted into the docker container
      RUSTUP_HOME: .rustup
      CARGO_HOME: .cargo
    steps:
      - uses: actions/checkout@v2
      # actions-rs/toolchain@v1 has some hiccups with the custom installation locations
      - run: curl -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal
      - run: echo "$(pwd)/.cargo/bin" >> $GITHUB_PATH

      # Caching
      - name: Cache cargo build
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: manylinux${{ matrix.manylinux }}-${{ steps.rustup.outputs.rustc_hash }}-cargo-${{ hashFiles('Cargo.lock') }}
      - name: Cache test crates cargo build
        uses: actions/cache@v2
        with:
          path: test-crates/*/target
          key: manylinux${{ matrix.manylinux }}-${{ steps.rustup.outputs.rustc_hash }}-cargo-${{ hashFiles('test-crates/*/Cargo.lock') }}

      # Do a bit of if-switching since the docker url doesn't support substitutions
      - name: Compliant Build
        if: matrix.manylinux == '2010'
        uses: docker://quay.io/pypa/manylinux2010_x86_64
        with:
          entrypoint: /bin/bash
          args: -c "PATH=/github/workspace/.cargo/bin:$PATH tests/manylinux_compliant.sh ${{ matrix.manylinux }}"
      - name: Compliant Build
        if: matrix.manylinux == '2014'
        uses: docker://quay.io/pypa/manylinux2014_x86_64
        with:
          entrypoint: /bin/bash
          args: -c "PATH=/github/workspace/.cargo/bin:$PATH tests/manylinux_compliant.sh ${{ matrix.manylinux }}"

      - name: Incompliant Build
        if: matrix.manylinux == '2014'
        uses: docker://quay.io/pypa/manylinux2014_x86_64
        with:
          entrypoint: /bin/bash
          args: -c "PATH=/github/workspace/.cargo/bin:$PATH tests/manylinux_incompliant.sh ${{ matrix.manylinux }}"

      # Fix permissions from docker for caching
      - run: sudo chown $(id -u):$(id -g) -R target test-crates/*/target
